Middleware/Logica/Web References/ServiceSoapPractica/WebServiceVentas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarProductos">
        <s:complexType />
      </s:element>
      <s:element name="ListarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProductosResult" type="tns:ArrayOfProductos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Productos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_unitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="iva" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarxID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarxIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarxIDResult" type="tns:Productos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Productos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Añadir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Productos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AñadirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AñadirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Productos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="ListarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarxIDSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarxID" />
  </wsdl:message>
  <wsdl:message name="BuscarxIDSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarxIDResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="AñadirSoapIn">
    <wsdl:part name="parameters" element="tns:Añadir" />
  </wsdl:message>
  <wsdl:message name="AñadirSoapOut">
    <wsdl:part name="parameters" element="tns:AñadirResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceVentasSoap">
    <wsdl:operation name="ListarProductos">
      <wsdl:input message="tns:ListarProductosSoapIn" />
      <wsdl:output message="tns:ListarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarxID">
      <wsdl:input message="tns:BuscarxIDSoapIn" />
      <wsdl:output message="tns:BuscarxIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Añadir">
      <wsdl:input message="tns:AñadirSoapIn" />
      <wsdl:output message="tns:AñadirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceVentasSoap" type="tns:WebServiceVentasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarxID">
      <soap:operation soapAction="http://tempuri.org/BuscarxID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Añadir">
      <soap:operation soapAction="http://tempuri.org/Añadir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceVentasSoap12" type="tns:WebServiceVentasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductos">
      <soap12:operation soapAction="http://tempuri.org/ListarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarxID">
      <soap12:operation soapAction="http://tempuri.org/BuscarxID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Añadir">
      <soap12:operation soapAction="http://tempuri.org/Añadir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceVentas">
    <wsdl:port name="WebServiceVentasSoap" binding="tns:WebServiceVentasSoap">
      <soap:address location="http://localhost:55787/WebServiceVentas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceVentasSoap12" binding="tns:WebServiceVentasSoap12">
      <soap12:address location="http://localhost:55787/WebServiceVentas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>